/* https://coolors.co/40798c-c0d6df-93748a-0b1d51-f9b9c3 */
:root {
  --cerulean: #40798c;
  --columbia-blue: #c0d6df;
  --mountbatten-pink: #93748a;
  --penn-blue: #0b1d51;
  --pink: #f9b9c3;
}

body {
  background-color: var(--cerulean);
}

.App {
  text-align: center;
  background-color: var(--cerulean);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
